
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Przyjęcie sylwestrowe</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, świecie (z widoku);
        <p>Zapraszamy na wspaniałe przyjęcie <br/>
        (Do zrobienia jeszcze kilka rzeczy)</p>

        <a asp-action="RsvpForm">Wyślij RSVP</a>
    </div>
</body>
</html>
