@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Dziękujemy</title>
</head>
<body class="text-center">
    <p>
        <h1>Dziękujemy, @Model.Name!</h1>
        @if (Model.WillAttend == true) 
        {
            @:Cieszymy się, że przyjdziesz do nas. Napoje już są w lodówce!
        } 
        else 
        {
            @:Przykro nam, że nie możesz się zjawić, ale dziękujemy za informację.
        }
    </p>
    <p>Kliknij <a class="nav-link" asp-action="ListResponses">tutaj</a> aby wyświetlić listę gości</p>
</body>
</html>
